{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}

<a class="btn btn-default" href="{{ path('fos_user_profile_edit')}}" role="button">{% trans %}nav.edit{% endtrans %}</a>
<a class="btn btn-default" href="{{ path('fos_user_change_password')}}" role="button">{% trans %}nav.change_pwd{% endtrans %}</a>
{% endblock fos_user_content %}
