<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include 'import.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {% include 'nav.html.twig' %}
        <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        <script>
            $.extend($.fn.dataTable.defaults, {
                "language": {
                    "url": loadDatatablesIntl("{{ app.request.locale }}")
                },
            });
        </script>
    {% endblock %}

</body>

</html>
