<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '%kernel.root_dir%/Resources/public/bootstrap/dist/css/*.min.css'
                '%kernel.root_dir%/Resources/public/fontawesome/css/font-awesome.min.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %} 
            {% block javascripts %}
                {% javascripts
            '%kernel.root_dir%/Resources/public/jquery/dist/jquery.min.js'
            '%kernel.root_dir%/Resources/public/bootstrap/dist/js/*.min.js'
            '%kernel.root_dir%/Resources/public/arbor/lib/*.js'
                %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
                {% endjavascripts %} 
            {% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% block body %}{% endblock %}


</body>
<footer>
    Ceci est un footer général<br />
    <i class="fa fa-camera-retro"></i> fa-camera-retro
</footer>
</html>
