{% extends "::base.html.twig" %}

{% block title %}KartographerzCartographyBundle:Cartography:view{% endblock %}

{% block body %}
    <h1>Welcome to the Cartography:view page</h1>
    <h2>cartography : {{id}}</h2>
{% endblock %}
